
.DS_Store
nbproject/project.xml
.svn/entries
.svn/format
*.svn-base
.svn/wc.db
.svn/wc.db-journal
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
/nbproject/private/
htpasswd
htaccess
